* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Background */
  --light-slate-blue: #7857ff;
  --light-royal-blue: #2e2be9;

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: #fff;
  --pale-blue: #ebf1ff;
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}

code {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  font-size: 1.8rem;
  font-family: "Hanken Grotesk", sans-serif;
}

@media only screen and (min-width: 1440px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .main-container {
    display: flex;
    max-width: 55rem;
    box-shadow: 0 0 2rem var(--pale-blue);
    border-radius: 2rem;
    overflow: hidden;
  }

  .left {
    min-width: 25rem;
  }

  .right {
    min-width: 30rem;
  }

  .result-box {
    border-top-right-radius: 2rem;
  }

  .result-container p {
    width: 200px;
    margin: 0 auto;
  }

  .summary {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.gradient-bg {
  background: linear-gradient(
    to right bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

.result-box {
  padding: 3rem 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.result-container {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
}

.result-container h3 {
  font-size: 1.6rem;
  color: var(--pale-blue);
  opacity: 0.6;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.circle {
  background: linear-gradient(
    to right bottom,
    var(--violet-blue),
    var(--persian-blue)
  );
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle h2 {
  font-size: 4.8rem !important;
  font-weight: 800;
  color: var(--white);
  margin-top: -0.5rem !important;
}

.circle span {
  color: var(--white);
  opacity: 0.3;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: -1.8rem;
}

.result-container h2 {
  font-size: 2rem;
  color: var(--white);
  margin-top: 3rem;
  opacity: 0.85;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 1.4rem;
  color: var(--pale-blue);
  opacity: 0.6;
  font-weight: 500;
}

.summary {
  background: var(--white);
  padding: 3rem 2rem;
}

.sumary-container h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
