* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Background */
  --light-slate-blue: #7857ff;
  --light-royal-blue: #2e2be9;

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: #fff;
  --pale-blue: #ebf1ff;
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}

code {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  font-size: 1.8rem;
  font-family: "Hanken Grotesk", sans-serif;
}

@media only screen and (min-width: 375px) {
}

.gradient-bg {
  background: linear-gradient(
    to right bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

.result-box {
  padding: 3rem 1.5rem;
}

.result-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.result-container h3 {
  font-size: 1.8rem;
  color: var(--pale-blue);
  opacity: 0.6;
}
